*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    max-width: 1440px;
}
body{
    margin: auto;
}
.resize{
    width: 100px;
}
.bg-jumbotron{
    background-image: url(../img/jumbo-bg.png);
    width: 100%;
    height: 540px;
    background-size: 1440px;
    background-repeat: no-repeat;
    background-position: center; 
    
}
#resize-return{
    width: 250px;

}
.resize-6{
    width: 85%;
    margin: 0 auto;
}
.resize-7{
    width: 97%;
    margin: 0 auto;
}
.bg-jumbotron2{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    width: 100%;
    height: 540px;
    background-size: 1440px;
    background-repeat: no-repeat;
    background-position: center; 
    
}
.bg-nuove-uscite{
    width: 100%;
    background-size: 1440px;
    background-color: #2C2C2C;
}
.tondo {
    border-radius: 40px;
}
.bg-plus{
    background-color: #919090;
}

.bg-now{
    background-color: #061B54;
}
.resize-2{
    width: 150px;
}
.resize-mini{
    width: 15px;
}
ul{
    list-style-type: none; 
}

.contorno{
    border-radius: 30px;
    border: 1px solid white;

}
.contorno:hover{

    box-shadow: 0 0 0 2pt rgb(0, 89, 255);
}
.bluu{
    color: rgb(0, 145, 255);
}
.custom-b {
    color: blue;
    background-color: lightgrey;
    border-radius: 40px;
}